.container {
    padding: 8px;
    display: flex;
    align-items: center;

    background-color: white;
    border-radius: 16px;
    width: 250px;
    height: 32px;
}

.search {
    align-self: stretch;
    flex-grow: 1;
    border: none;
    border-right: 1px solid grey;
    text-indent: 4px;
}

.search:focus {
    outline: none;
}

.icon {
    width: 32px;
}